<form [formGroup]="verbForm" (ngSubmit)="updateVerb()">
    <div class="row" style="margin-top: 5px;">
        <div class="col">
            <input formControlName="baseForm" type="text" class="form-control input-style" placeholder="Base Form">
        </div>
        <div class="col">
            <input formControlName="pastTenseForm" type="text" class="form-control input-style"
                placeholder="Past Tense Form">
        </div>
        <div class="col">
            <input formControlName="pastParticipleForm" type="text" class="form-control input-style"
                placeholder="Past Participle Form">
        </div>
        <div class="col">
            <input formControlName="thirdPersonBaseForm" type="text" class="form-control input-style"
                placeholder="Third Person Base Form">
        </div>
        <div class="col">
            <input formControlName="progressiveForm" type="text" class="form-control input-style"
                placeholder="Progressive Form">
        </div>
        <div class="col">
            <input formControlName="phonetics" type="text" class="form-control input-style" placeholder="Phonetics">
        </div>
        <div class="col">
            <select formControlName="learningStatus" [attr.value]="verbForm.learningStatus" class="custom-select" id="learningStatusId">
                <option value="NOT_STARTED">Not Started</option>
                <option value="IN_PROGRESS">Inprogress</option>
                <option value="COMPLETED">Completed</option>
              </select>
        </div>
        <div class="col" style="text-align: right;">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col">

            <label for="meaningsTextAreaId">Meanings: <span class="badge"><img src="../assets/images/speak.png" class="image-style"
                        (click)="textToSpeak('meanings')"></span></label>
            <textarea class="form-control" id="meaningsTextAreaId" name="text" formControlName="meanings" style="width: 550px;height:150px;"></textarea>
        </div>
        <div class="col">
            <label for="examplesTextAreaId">Examples:<span class="badge"><img src="../assets/images/speak.png" class="image-style"
                        (click)="textToSpeak('examples')"></span></label>
            <textarea class="form-control" id="examplesTextAreaId" name="text" formControlName="examples" style="width: 550px;height:150px;"></textarea>
        </div>

        <div class="col">
            <label for="imageId">Image: 
                <span class="badge">
                    <input type="button" (click)="onUpload(verbData?.verbId)" value="upload">
                    <input type="button" (click)="loadImage(verbData?.verbId, '')" value="Load">
                    <input type="button" (click)="deleteImage(verbData?.verbId)" value="Delete">
            </span>
            </label>
            <div>
                <div *ngIf="!retrievedImage">
                    <input type="file" id="imageId" (change)="onFileChanged($event)">
                </div>
                <div *ngIf="retrievedImage">
                    <img [src]="retrievedImage">
                </div>
            </div>
           

        </div>
        
    </div>
</form>