<!-- <div class="container-fluid">
    <ag-grid-angular
        style="height: 570px;width:1340px;overflow:hidden" 
      class="ag-theme-balham-dark"
      #verbAgGrid
        [columnDefs]="columnDefs"
        [rowData]="verbs"
        (rowClicked)='onRowClicked($event)'
       
        >
    </ag-grid-angular>
</div> -->


<div>
  <div *ngIf="!verbs && isLoaded" style="position: fixed;margin-top: 10%;margin-left: 40%;">
      <!-- <h4 style="color:red;"> No records found </h4> <span> <small><button class="btn btn-primary btn-sm" (click)="addDummyData()">Add Dummy Data</button></small></span> -->
      <h4 style="color:red;">No records found <span style="font-size: 11px;"><a href="#" data-toggle="tooltip"
                  data-placement="top" title="Add Dummy Data" (click)="addInitialData()">(Add Initial Data)</a></span></h4>
  </div>
  <div *ngIf="verbs" style="margin-top: 10px;">

      <table class="table table-sm table-bordered table-hover">

        <thead class="table-dark">
          <tr>
            <th>Base Form</th>
            <th>Past Tense Form</th>
            <th>Past Participle Form</th>
            <th>Third Person Base Form</th>
            <th>Progressive Form</th>
            <th>Phonetics</th>
            <th>Actions</th>
        </tr>
        <tr class="table-light">
          <th colspan="7">
            <div class="row" style="margin-top: 5px;">
              <div class="col">
                <select [(ngModel)]="searchType" class="custom-select" id="orderSelectionId" style="width: 170px;">
                  <option selected value="starting">Starts with:</option>
                  <option value="ending">Ends with:</option>
                  <option value="anywhere">Anywhere:</option>
                </select>
              </div>
              <div class="col">
                <input type="text" [(ngModel)]="searchInput" class="form-control search-input-style" id="baseFormSearch" placeholder="Search">
              </div>
              <div class="col">
                Or
              </div>
              <div class="col">
                <select [(ngModel)]="selectedLetter" class="custom-select" value="A" id="letterSelectionId" style="width: 140px;">
                    <option *ngFor="let letter of allLetters; index as j">{{letter}}</option>
                </select>
              </div>
              <div class="col">
                And
              </div>

              <div class="col">
                <select [(ngModel)]="sortOrder" class="custom-select" id="orderSelectionId" style="width: 170px;">
                  <option selected value="ASC">Ascending</option>
                  <option value="DESC">Descending</option>
                </select>
              </div>

              <div class="col">
                <select [(ngModel)]="recordsSize" class="custom-select" id="recordsSizeSelectionId" style="width: 140px;">
                  <option selected value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="500">500</option>
                  <option value="10000">1000</option>
                  <option value="2000">2000</option>
                  <option value="5000">5000</option>
                </select>
              </div>

              <div class="col">
                <button class="btn btn-sm btn-warning" (click)="modifySearh()">Search</button>
              </div>
              <div class="col">
                Total: {{totalRecords}}
              </div>

            </div>
          </th>
      </tr>
        </thead>


        <tbody *ngFor="let verb of verbs;index as i">
          <tr [class]="geClass(i)">
            <td>{{verb.baseForm}} 
              <span class="badge"><img src="../assets/images/speak.png" class="image-style" (click)="textToSpeak(verb.baseForm)"></span>
            </td>
            <td>{{verb.pastTenseForm}} 
              <span class="badge"><img src="../assets/images/speak.png" class="image-style" (click)="textToSpeak(verb.pastTenseForm)"></span>
            </td>
            <td>{{verb.pastParticipleForm}} 
              <span class="badge"><img src="../assets/images/speak.png" class="image-style" (click)="textToSpeak(verb.pastParticipleForm)"></span>
            </td>
            <td>{{verb.thirdPersonBaseForm}}
              <span class="badge"><img src="../assets/images/speak.png" class="image-style" (click)="textToSpeak(verb.thirdPersonBaseForm)"></span>
            </td>
            <td>{{verb.progressiveForm}}
              <span class="badge"><img src="../assets/images/speak.png" class="image-style" (click)="textToSpeak(verb.progressiveForm)"></span>
            </td>
            <td>{{verb.phonetics}}</td>
            <td style="width: 100px;">
                <!-- <button class="btn btn-info btn-vsm" (click)="viewVerbDetails(verb)">View</button>
                <button class="btn btn-primary btn-vsm btn-margin-left" (click)="editVerbDetails(verb)">Edit</button> -->
                <input  type="button" class="btn btn-info btn-sm" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+verb.baseForm" aria-expanded="true" [attr.aria-controls]="'#'+verb.baseForm" value="View"/>
            </td>

        </tr>
        <tr class="collapse" id="{{verb.baseForm}}">
          <td colspan="7">
            <div class="card card-body">
              <app-view [verbData]="verb"></app-view>
            </div>
          </td>
          
        </tr>
        </tbody>
      </table>
  </div>