

.image-style{
    height: 18px;
    width: 18px;
}

.btn-vsm {
    padding: 0.20rem 0.3rem;
    font-size: 0.700rem;
    line-height: 1.2;
    border-radius: 0.2rem;
  }

  .btn-vvsm {
    padding: 0.20rem 0.2rem;
    font-size: 0.6rem;
    line-height: 1.0;
  }