<div class="bg-main-header" style="height: 40px;position: fixed;width:99.5%;z-index: 100;">
<!-- <div class="bg-main-header" style="height: 40px;position: fixed;z-index: 100;"> -->
    <div class="float-left">
        <nav class="nav nav-tabs">
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/vocabulary">Vocabulary</a>
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/verbs" active>Verbs</a>
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/all-meanings" active>All Meanings</a>
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/agGridSample">AgGrid Sample</a>
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/textToSpeech">Text to Speech Demo</a>
         </nav>
    </div>
</div>