<div class="bg-main-header" style="height: 40px;position: fixed;width:99.5%;z-index: 100;">
<!-- <div class="bg-main-header" style="height: 40px;position: fixed;width:99.5%;z-index: 100;"> -->
    <!-- <div class="bg-main-header" style="height: 40px;position: fixed;z-index: 100;"> -->
    <div class="float-left">
        <nav class="nav nav-tabs">
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="//all-meanings">Vocabulary</a>
            <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/verbs" active>Verbs</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Demos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLinkActive="activebutton" routerLink="/agGridSample"
                            style="cursor: pointer;">AgGrid Sample</a></li>
                    <li><a class="dropdown-item" routerLinkActive="activebutton" routerLink="/textToSpeech"
                            style="cursor: pointer;">Text to Speech</a></li>
                </ul>
            </li>
        </nav>
    </div>
</div>