
<!-- <nav mat-tab-nav-bar backgroundColor="primary"> -->
<nav mat-tab-nav-bar backgroundColor="primary" color="warn">
    <a mat-tab-link routerLink="/wordsBank" active="false">Words Bank</a>
    <a mat-tab-link routerLink="/vocabulary" active="false">Vocabulary</a>
    <a mat-tab-link routerLink="/verbs" active="false">Verbs</a>
    <!-- <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
        <mat-icon>more_vert</mat-icon>
    </button> -->
    <button mat-button [matMenuTriggerFor]="moreMenu">Demos</button>
</nav>

<mat-menu #moreMenu="matMenu">
    <a mat-menu-item routerLink="/agGridSample" style="cursor: pointer;">AgGrid
        Sample</a>
    <a mat-menu-item routerLink="/textToSpeech" style="cursor: pointer;">Text to
        Speech</a>

</mat-menu>


<!-- <div class="bg-main-header" style="height: 40px;position: fixed;width:99.5%;z-index: 100;">
    <div class="float-left">
            <nav class="nav nav-tabs">
                <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/wordsBank">Words Bank</a>
                <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/vocabulary">Vocabulary</a>
                <a class="nav-link text-light" routerLinkActive="activebutton" routerLink="/verbs" active>Verbs</a>
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Demos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLinkActive="activebutton" routerLink="/agGridSample"
                                style="cursor: pointer;">AgGrid Sample</a></li>
                        <li><a class="dropdown-item" routerLinkActive="activebutton" routerLink="/textToSpeech"
                                style="cursor: pointer;">Text to Speech</a></li>
                    </ul>
                </li>
            </nav>
        </div>
    </div> -->