
<div class="container-fluid" style="width: 100%;">
  <div class="row" style="height: 100%;width:100%">
    <div class="col-1" style="background-color: lightblue;height: 580px;width:170px;overflow: auto;">
      <app-vocabulary-headers></app-vocabulary-headers>
    </div>
    <div class="col">
        <div>
          {{currentSelectedHeader.header}}
        </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid" style="width: 100%;">
  <div class="row" style="height: 100%;width:100%">
    <div class="col-1" style="background-color: lightblue;height: 580px;width:170px;overflow: auto;">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-info btn-sm" (click)="onLoadAllWordsBtnClick()">All Words</button>
        <div *ngFor="let header of headers;index as i">
          <button type="button" class="btn btn-link btn-sm"
            (click)="onHeaderItemClicked(header)">{{header.header}}</button>
        </div>

      </div>
    </div>
    <div class="col">
      <ng-container *ngIf="loadAllWordsFlag">
        <app-all-words></app-all-words>
      </ng-container>

      <ng-container *ngIf="!loadAllWordsFlag">
        <div>
          {{currentSelectedHeader.header}}
        </div>
      </ng-container>
    </div>
  </div>

</div> -->